In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000249555D7E50>

In [10]:
mycursor = mydb.cursor()

In [21]:
mycursor.execute("CREATE DATABASE mydatabase")

In [24]:
mycursor.execute("CREATE TABLE program (name VARCHAR(255), address VARCHAR(255))")

In [25]:
mycursor.execute("SHOW TABLES")